body{
    background-image: url(../img/backgroundS2.jpg);
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}