body{
    background-image: url(../img/backgroundS.jpg);
}

.home{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border-style: hidden;
}
.home:after{
    content: "🔙";
    font-size:150px;
}
.home:hover{
    cursor:pointer;
}

.work{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work img{
    padding-left: 300px;
    padding-bottom: 50px;
    width: 900px;
}
.work span{
    font-size: 42px;
    font-family: Cantarell;
    font-weight: bold;
    color: white;
}