body{
    background-image: url(../img/backgroundS2.jpg);
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.conteneur{
  position: fixed;
  display: flex;
  right: 0;
  left: 0;
  top:0;
  bottom: 0;
  padding: 1% 1%;
  justify-content: space-between;
}

.button{
  text-decoration: none;
  color: white;
  width: fit-content;
}
.divButton{
  right: 0;
  left: 0;
  align-self: center;
  position:absolute;
  display: flex;
  flex-direction: column;
}

.effect {
  position: absolute;
  align-self: center;
  text-decoration: none;
  font-family:-apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  font-size: 44px;
  font-weight: bold;
  color:white ;
  border-radius: 50px;
  border-style: hidden;
  mask-border-width: 0;
  background-image: -moz-linear-gradient(left,#8860D0,#5AB9EA);
  text-decoration: none;
  padding: 15px 55px;
  overflow: hidden;
}

.effect.effect1 {
  transition: all 0.2s linear 0s;
}

.effect.effect1:before {
  content: "🔜";
  position: absolute;
  left: -10px;
  height: 100%;
  width: 30px;
  border-radius: 0 50% 50% 0;
  transform: scale(0,1);
  padding: 2px 35px;
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}

.effect.effect1:hover {
  text-indent: 30px;
  cursor: pointer;
}

.effect.effect1:hover:before {
  transform: scale(1,1);
  text-indent: 0;
}

nav{
  display: flex;
}

nav ul{
  padding:15px 0px;
}

.li{
  font-size: 45px;
  list-style:none !important;
  font-family: -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
  padding:15px 40px;
  font-weight: bold;
  color: white;
 /*  color:#5680E9;
 */  background-image: -moz-linear-gradient(right,rgba(135, 96, 208, 0.555),rgba(90, 186, 234, 0.555));
/*   background-color:rgba(255, 255, 255, 0.609);
 */  border-radius: 50px;
  transition: all 0.2s linear 0s;
}

.li:before{
  content:"➡️ ";
  transition: all 0.2s linear 0s;
}

.li:hover{
  cursor: pointer;
}

.li:hover ul{
  display: list-item !important;
  list-style: none !important;
}

.li:hover:before{
  content: "↘️ ️";
}

.li ul { 
	display:none; 
} 

.li ul li a { 
  font-size: 34px;
  list-style:none !important;
  font-weight: bolder;
  color: white;
}


.weatherr{
    text-align: center;
    float: right;
    width: 250px;
    height: 250px;
}


.background{
    filter: blur(2px);
    border-radius: 15px;
    position: relative;
    border: gray;
    overflow: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 250px;
    height: 250px;
}

.wweather{
    z-index: 9999;
    border-radius: 15px;
    border: gray;
    overflow: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    font-family: "Gill Sans", sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    top:-210px;
}



i.wi {
    font-size: 2em;
    line-height: 0em;
}

.tooltip{
    opacity: 0;
    position: absolute;
    top: 0px; 
    left: 30px;
    color: #fff;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    transition: opacity .3s, top .5s;
}

h1:hover .tooltip {
    top: -30px;
    opacity: 1;
}

.about{
    align-self: center;
    font-size: 42px;
    font-family: -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    color: white;
}

.titleAbout{
    width: min-content;
    padding: 1% 2%;
    border-radius: 50px;
    border-style: solid;
    font-size: 64px;
    font-family: -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    color: white;
    background-image: -moz-linear-gradient(left,#8860D0,#5AB9EA);
    transition: all 0.2s linear 0s;
}
.titleAbout:hover{
    cursor: default;
    background-image: -moz-linear-gradient(right,#8860D0,#5AB9EA);
    color: black;
}

.divAbout{
    margin: 15% 25%;
}

.home{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border-style: hidden;
}
.home:after{
    content: "🔙";
    font-size:150px;
}
.home:hover{
    cursor:pointer;
}

.work{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work img{
    padding-left: 300px;
    padding-bottom: 50px;
    width: 900px;
}
.work span{
    font-size: 42px;
    font-family: -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: bold;
    color: white;
}

span{
    color: white;
    font-weight: bold;
    font-family:-apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}

.content{
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-style:solid;
    border-radius: 50px;
    border-width: 5px;
    border-color: #5680E9;
    background-color: rgba(255, 255, 255, 0.164);
    margin: 50px 285px;
}
.subTitle{
    padding-top: 2%;
    font-size: 44px;
}
.simple{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 6% 5% ;
}
.simple span{
    font-size: 32px;
    padding-bottom: 3%;
}




