<nav class="navbar" id="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a routerLink="/">axdelafuen</a>
        </div>
        
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/projects" routerLink="/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item">
                <a href="/experiences" routerLink="/experiences" class="nav-link" >Experiences</a>
            </li>
            <li class="nav-item">
                <a href="/download-cv" routerLink="/download-cv" class="nav-link">Download my CV</a>
            </li>
        </ul>
        
        <div class="hamburger" id="hamburger" (click)="toggleMobileMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
