<div class="container" id="top">
	<header class="header">
		<h1>Hi, I'm Axel 👋</h1>
		<p class="subtitle">Computer Science student</p>
		<p class="subsubtitle">Learning in ISIMA, working for Limagrain</p>
	</header>

	<main class="main-content">
		<section class="about">
			<h2>About</h2>
			<p>
I am a computer science student at <b>ISIMA</b> (UCA, France) and currently an apprentice at <b>Limagrain</b>. My work is focused on software development, particularly mobile and web applications (.NET / Angular).
			</p>
		</section>

		<section class="contact" id="contact">
			<h2>Connect</h2>
			<div class="links">
				<a href="https://github.com/axdelafuen" target="_blank" class="link-button">
					GitHub
				</a>
				<a href="mailto:axel.dlf63@gmail.com" class="link-button">
					Email
				</a>
				<a href="https://www.linkedin.com/in/axel-dlf/" target="_blank" class="link-button">
					LinkedIn
				</a>
			</div>
		</section>
	</main>
</div>
