/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family:"free-monospaced";
  src:url("FreeMono.eot?") format("eot"),
  url("FreeMono.woff") format("woff"),
  url("FreeMono.ttf") format("truetype"),
  url("FreeMono.svg#FreeMono") format("svg");

  font-weight:normal;
  font-style:normal;
}
