body {
	margin: 0px;
	font-family: Montserrat, sans-serif;
}

.main-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.2em;
}

nav{
	width: 100%;
	background-color: rgba(218,218,218,0.4);
}

nav ul{
	list-style-type: none;
	display:flex;
	justify-content: center;
}

nav ul li a {
	text-decoration: underline dotted;
	color: black;
	margin-right: 50px;
	margin-left: 50px;
	font-size: 1.6em;
	display: block;
	font-weight: bold;
}

.links{
	display:flex;
}

.link{
	margin: 10px;
	display: flex;
	align-items: center;
}

.link a{
	margin:6px;
	text-decoration: underline dotted;
	color: black;
	font-weight: 500;
}

.content{
	margin: 5vh;
}

.footer{
	position: absolute;
	background-color: rgba(218,218,218,0.4);
	display:flex;
	justify-content: flex-end;
	bottom:0;
	width:100%;
}

.lastModified{
	font-size: 80%;
}

.project{
	border-bottom: dashed;
}

.proj-link{
	text-decoration: underline dotted;
	color: black;
}

.tags span{
	border-radius: 5px;
	margin: 2px;
	border: solid;
	border-width: thin;
}
