body {
	margin: 2rem;
	font-family: Montserrat, sans-serif;
}

.navbar{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.sub-navbar{
	justify-content: space-evenly;
}

.navbar a{
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.sub-navbar a{
	text-decoration: none;
	color: black;
	font-weight: 600;
	margin-left: 3rem;
}

.title{
	margin-top: 5rem;
}

.about{
	font-weight: 500;
}

.pdf{
	position: absolute;
	left: 0;
	width: 200vh;
	height: 200vh;
}